Flask
Flask-Cors
PyPDF2
python-dotenv
requests
faiss-cpu
numpy==2.2.4
openai
langchain==0.3.23
langchain-community==0.3.21
langchain-openai
sentence-transformers
sentencepiece
langchain-google-genai
langchain-anthropic
langchain-groq
mcp[cli]
