Flask
Flask-Cors
PyPDF2
python-dotenv
requests
faiss-cpu
numpy==2.2.4
openai
langchain==0.3.23
langchain-community==0.3.21
langchain-openai
sentence-transformers
sentencepiece
llama-index==0.12.30
llama-index-embeddings-huggingface==0.5.3
llama-index-core==0.12.30
llama-index-llms-langchain==0.6.1
langchain-google-genai
langchain-anthropic
langchain-groq
mcp[cli]
